@model TISklep.ViewModels.DodawanieFilmowViewModel

@using (Html.BeginForm("DodajFilm", "Films", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <div class="form-group">
        @Html.LabelFor(m => m.Film.Title, "Podaj Tytul: ")
        @Html.TextBoxFor(m => m.Film.Title, new { @required = true, @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Film.Director, "Podaj Rezysera: ")
        @Html.TextBoxFor(m => m.Film.Director, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Film.DlugoscFilmu, "Podaj długość filmu: ")
        @Html.TextBoxFor(m => m.Film.DlugoscFilmu, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Film.Description, "Podaj Opis: ")
        @Html.TextAreaFor(m => m.Film.Description, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Plakat, "Podaj plik z plakatem: ")
        @Html.TextBoxFor(m => m.Plakat, new { @type = "file", @class = "form-control-file" })
    </div>
    <div class="form-check">
        @foreach (var kategoria in Model.Kategorie)
        {
            @Html.RadioButtonFor(m => m.Film.CategoryId, kategoria.CategoryId, new { @class = "form-check-input" })
            @kategoria.Name
            <br />
        }
    </div>
    <div class="form-group"><input type="submit" value="Wyślij" class="btn btn-primary" /></div>
}