@model IEnumerable<TISklep.Models.Movie>
@{

}

<h1>@Model.First().Category.Name</h1>
<h2>@Model.First().Category.Description</h2>
<br />


<table>
    <thead>
        <tr>
            <th>Tytuł filmu</th>
            <th>Reżyser</th>
            <th>Data produkcji</th>
            <th>Cena</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var film in Model)
        {
            <tr>
                <td>@film.Title</td>
                <td>@film.Director</td>
                <td>@film.ProductionDate.Value.Date.ToString("dd MMMM yyyy")</td>
                <td>@film.Price</td>
            </tr>
        }
    </tbody>
</table>
