@model TISklep.ViewModels.KategoriaViewModel
@{
    ViewData["Title"] = "Szczegóły";
}

<table>
    <tr>
        @foreach (var film in Model.FilmyTop3Najnowsze)
        {
            <td>
                <h3>@film.Title</h3>
                <p>@film.Description</p>
                <img src="~/content/@film.Plakat" />
            </td>
        }

    </tr>
</table>

<h1>@Model.Kategoria.Name - @Model.Kategoria.Description</h1>


<table>
    <thead>
        <tr>
            <th>Tytuł filmu</th>
            <th>Reżyser</th>
            <th>Data dodania</th>
            <th>Cena</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var film in Model.FilmyKategorii)
        {
            <tr>
                <td>@film.Title</td>
                <td>@film.Director</td>
                <td>@film.DataDodania.Value.Date.ToString("dd MMMM yyyy")</td>
                <td>@film.Price</td>
                <td>
                    <a href="@Url.Action("Szczegoly", "Films", new { idFilmu = film.MovieId })">&#128270;</a>
                </td>
                <td>
                    <a href="@Url.Action("DodajDoKoszyka", "Koszyk", new { idFilmu = film.MovieId })">&#128722;</a>
                </td>
            </tr>
        }
    </tbody>
</table>
